  <h1>Login</h1>
  <br>
  <div class="container center">
    <%= form_for(:session, url: login_path) do |f| %>
    <%= f.text_field :email, placeholder: "Email" %>
    <br>
    <%= f.password_field :password, placeholder: "Password" %>
    <br>
    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
    <br>
    <%= f.submit "Submit", class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
</body>
