<div class="container center">
  <div class="row header">
    <h1>Enter New Link</h1>
    <%= form_for [current_user, @link] do |f| %>
    <%= f.text_field :title, placeholder: "Title" %>
    <br><br>
    <%= f.text_field :url, placeholder: "URL" %>
    <br><br>
    <%= f.submit "Submit", class: "btn btn-primary btn-sm", method: :post %>
    <% end %>
    <h2>All Links</h2>
  </div>
  <div class="row center-table">
    <input id="typed" placeholder="Search by title or url">
    <button type="button" name="button" class="sort-alpha btn btn-primary btn-sm">Sort Alphabetically</button>
    <button type="button" name="button" class="filter-read btn btn-primary btn-sm">Filter Read</button>
    <button type="button" name="button" class="filter-unread btn btn-primary btn-sm">Filter Unread</button>
    <table id="linkTable">
      <thead>
        <tr>
          <th>Title</th>
          <th>URL</th>
          <th>Status</th>
          <th>Modify Status</th>
          <th>Edit Link</th>
        </tr>
      </thead>
      <tbody id="searchBody">
        <% @links.each do |link| %>
        <tr class="<%= link.type %>" data-link-id="<%= link.id %>">
          <td><%= link_to "#{link.title}", link.url %></td>
          <td>
            <%= link_to "#{link.url}", link.url %><br>
            <% @scraper = Scraper.new(link.url) %>
            <b><%= @scraper.title %></b><br>
            <%= @scraper.message %>
          </td>
          <td><%= link.type %></td>
          <td><button type="button" name="button" class="toggle btn btn-primary btn-sm"> <%= link.status %> </button></td>
          <td> <%= link_to "Edit Link", edit_user_link_path(current_user, link), class: "btn btn-primary btn-sm" %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
