<div class="container center">
  <div class="row">
    <%= form_for [current_user, @link] do |f| %>
    <%= f.text_field :title, placeholder: "Title" %>
    <br>
    <%= f.text_field :url, placeholder: "URL" %>
    <br>
    <%= f.submit "Submit", class: "btn btn-primary btn-sm", method: :post %>
    <% end %><br>
    <h2>All Links</h2>
  </div>
  <div class="row center-table">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>URL</th>
          <th>Status</th>
          <th>Modify</th>
        </tr>
      </thead>

      <tbody>
        <% @links.each do |link| %>
        <tr>
          <td><%= link.title %></td>
          <td><%= link.url %></td>
          <% if link.read == false %>
          <td>Unread</td>
          <td>
            <%= link_to (link.read ? "Mark as Unread" : "Mark as Read"), user_link_path(current_user, link), method: :put %>
          </td>
          <% else %>
          <td>Read</td>
          <td>
            <%= link_to (link.read ? "Mark as Unread" : "Mark as Read"), user_link_path(current_user, link), method: :put %>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
