<div class="container center">
<%= form_for [current_user, @link] do |f| %>
<%= f.text_field :title, placeholder: "Title" %>
<br>
<%= f.text_field :url, placeholder: "URL" %>
<br>
<%= f.submit "Submit", class: "btn btn-primary btn-sm", method: :post %>
<% end %><br>
</div>

<div class="container center">
    <% @links.each do |link| %>
    <p>
      Title: <%= link.title %><br>
      URL: <%= link.url %>
    </p><br>
    <% end %>
</div>
