<div class="container center">
  <div class="row">
    <%= form_for [current_user, @link] do |f| %>
    <%= f.text_field :title, placeholder: "Title" %>
    <br>
    <%= f.text_field :url, placeholder: "URL" %>
    <br>
    <%= f.submit "Submit", class: "btn btn-primary btn-sm", method: :post %>
    <% end %><br>
    <h2>All Links</h2>
  </div>
  <div class="row center-table">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>URL</th>
          <th>Status</th>
          <th>Modify Status</th>
          <th>Edit Link</th>
        </tr>
      </thead>

      <tbody>
        <% @links.each do |link| %>
        <tr class="<%= link.type %>">
          <td><%= link_to "#{link.title}", link.url %></td>
          <td><%= link_to "#{link.url}", link.url %></td>
          <td> <%= link.type %> </td>
          <td><%= link_to (link.status), user_link_path(current_user, link.id), method: :put %></td>
          <td> <%= link_to "Edit Link", edit_user_link_path(current_user, link), class: "btn btn-primary btn-xs" %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
